cosmospy==6.0.0
injective-py==0.7.0
grpcio>=1.58.0
grpcio-tools>=1.58.0
protobuf<5.0,>=4.21.6
requests==2.31.0
beautifulsoup4==4.12.2
tweepy==4.14.0
transformers==4.35.0
pandas>=2.2.2
numpy==1.26.0
python-dotenv==1.0.0
ta==0.10.2
flask==2.3.3
flask-limiter==3.5.0
flask-cors==4.0.0
psycopg2-binary==2.9.9
bech32==1.2.0
bcrypt==4.0.1
gunicorn==21.2.0
secret-ai-sdk==0.1.0
